@font-face {
    font-family: "Inter";
    src:url('../fonts/inter/Inter-Regular.woff2') format('woff2'), 
        url('../fonts/inter/Inter-Regular.woff') format('woff'),
        url("../fonts/inter/Inter-Regular.otf") format("opentype"),
        url('../fonts/inter/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Inter";
    src:url('../fonts/inter/Inter-Medium.woff2') format('woff2'), 
        url('../fonts/inter/Inter-Medium.woff') format('woff'),
        url("../fonts/inter/Inter-Medium.otf") format("opentype"),
        url('../fonts/inter/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src:url('../fonts/inter/Inter-Bold.woff2') format('woff2'), 
        url('../fonts/inter/Inter-Bold.woff') format('woff'),
        url("../fonts/inter/Inter-Bold.otf") format("opentype"),
        url('../fonts/inter/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
}

body {
    font-family: "Inter", Arial, sans-serif;
    font-weight: normal;
}

h1 {
    font-size:2.25rem;
    margin-bottom:35px;
    font-weight: bold;
}

h2 {
    font-size:1.875rem;
    margin-bottom:25px;
    font-weight:bold;
}

h3 {
    font-size:1.5rem;
    margin-bottom:15px;
}

h4 {
    font-size:1.25rem;
    margin-bottom:10px;
}

.table {
    border-collapse:separate; 
    border-spacing:0 15px; 

    thead {
        background-color:$gray-100;
        border-radius:8px;
        border:0px;
        text-transform: uppercase;
        color:#9AA9BB;
        font-size:14px;

        th {
            border:0px;
            padding: 15px 20px 15px 30px;

            &:first-child {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }
            
            &:last-child {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }

            &.th_actions {
                width:100px;
            }
        }
    }

    &.table-striped tbody tr {
        &:nth-of-type(odd), &:nth-of-type(even) {
            background-color:#FFF;
        } 
    }

    tbody {
        
        td {
            border-top:1px solid $gray-200;
            border-bottom:1px solid $gray-200;
            padding: 12px 15px 12px 25px;

            &:first-child {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                border-left:1px solid $gray-200;
            }
            
            &:last-child {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                border-right:1px solid $gray-200;
            }

            input[type="text"] {
                -webkit-appearance: none;
                appearance: none;
                -moz-appearance: none;
                border:none;
                border-bottom:1px solid transparent;
                font-size:14px;
                padding:0px 10px 0px 5px;
                border-radius:0px;

                &:focus {
                    outline:none!important;
                    border:0px!important;
                    box-shadow:none!important;
                    border-bottom:1px solid $gray-400!important;
                }

                &.form-control {
                    height:inherit;
                }
            }

            &.th_actions {

                .btn-action, .btn-action svg {
                    max-height:20px;
                }

                .btn-action {
                    display: none;
                    top: -3px;
                    position: relative;
                    cursor:pointer;
                    padding:0px;
                    margin:0px;
                    right:10px;

                    &:hover {
                        svg {
                            fill:$gray-700;
                        }
                    }

                    li {
                        display: inline-block;
                        float: left;
                        margin-left:15px;

                        &:first-child {
                            margin-left:0px;
                        }
                    }
                }
            }

            &.th_checkbox {
                position:relative;
                padding-left:30px;

                label {
                    position: absolute;
                    top:9px;
                }
            }

            label {
                margin-bottom:0px;
            }

            &.th_dropdown {
                position: relative;
            }

            .custom-select {
                -webkit-appearance: none;
                -moz-appearance: none;
                font-size: 14px;
                height: 30px;
                padding: 0px 8px;
                line-height: 16px;
                position: absolute;
                top: 8px;
                width:calc(100% - 40px);
                background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.35rem center/8px 10px;
            }
        }

        tr:hover .btn-action {
            display:block;
        }
    }

    /* Styles for hiding the native checkbox */
    input[type='checkbox'].check-custom {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
  
    /* Styles for the basic appearance of the toggle switch */
    input[type='checkbox'].check-custom.toggle-switch ~ .check-toggle {
        width: 1.5rem;
        height: 1rem;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }

    /* Common styles for the ::before and ::after pseudo-elements of the toggle switch */
    input[type='checkbox'].check-custom.toggle-switch ~ .check-toggle::before,
    input[type='checkbox'].check-custom.toggle-switch ~ .check-toggle::after {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
    }

    /* Styles for the ::before pseudo-element (the outer frame) of the toggle switch */
    input[type='checkbox'].check-custom.toggle-switch ~ .check-toggle::before {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        background: #dbdbdb;
    }

    /* Styles for the ::after pseudo-element (the inner slider) of the toggle switch */
    input[type='checkbox'].check-custom.toggle-switch ~ .check-toggle::after {
        width: 0.75rem;
        height: 0.75rem;
        margin: 0.125rem;
        border-radius: 50%;
        background: #ffffff;
    }

    /* Styles for the ::before pseudo-element of the toggle switch in hover state */
    input[type='checkbox'].check-custom.toggle-switch:hover ~ .check-toggle::before {
        background: #c4c4c4;
    }



    /* Styles for the ::before pseudo-element of the toggle switch in checked or enabled state */
    input[type='checkbox'].check-custom.toggle-switch:checked ~ .check-toggle::before {
        background: $green;
    }

    /* Styles for the ::after pseudo-element of the toggle switch in checked or enabled state */
    input[type='checkbox'].check-custom.toggle-switch:checked ~ .check-toggle::after {
        left: auto;
        right: 0;
    }
}

.full_width_upload_import {
    width:100%;
    border-radius: 8px;
    border:2px dashed $gray-200;
    padding:60px 30px;
    text-align: center;
    background-color:rgba(8, 174, 234, 0.02);
    
    .file-select {
        width:100%;
        float: none;
    }

    svg {
        width:60px;
        height:auto;
        fill:$blue;
        margin-bottom:10px;
    }

    p {
        margin-bottom:0px;

        span {
            color:$blue;
            font-weight: bold;
        }
    }

    &:hover {
        background-color:rgba(8, 174, 234, 0.04);
        span {
            text-decoration: underline;
        }
    }

    &.import_field {
        border:2px solid $gray-200;
        cursor: pointer;
    }

    .btn {
        margin-top:10px;
    }
}

.btns_actions {
    h2 {
        float:left;
    }

    .btns {
        float: right;
    }
}

.input_w_icon {
    position: relative;
    width:calc(100% - 20px);
    label {
        position: absolute;
        left:0px;
        width: 18px;
        top: -4px;

        svg {
            fill:#474B4F;
        }
    }

    input {
        padding: 0px 10px 0px 20px!important;
    }
}