@font-face {
    font-family: "Inter";
    src:url('../fonts/inter/Inter-Regular.woff2') format('woff2'), 
        url('../fonts/inter/Inter-Regular.woff') format('woff'),
        url("../fonts/inter/Inter-Regular.otf") format("opentype"),
        url('../fonts/inter/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Inter";
    src:url('../fonts/inter/Inter-Medium.woff2') format('woff2'), 
        url('../fonts/inter/Inter-Medium.woff') format('woff'),
        url("../fonts/inter/Inter-Medium.otf") format("opentype"),
        url('../fonts/inter/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src:url('../fonts/inter/Inter-Bold.woff2') format('woff2'), 
        url('../fonts/inter/Inter-Bold.woff') format('woff'),
        url("../fonts/inter/Inter-Bold.otf") format("opentype"),
        url('../fonts/inter/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
}

body {
    font-family: "Inter", Arial, sans-serif;
    font-weight: normal;
}

h1 {
    font-size:2.25rem;
    margin-bottom:35px;
    font-weight: bold;
}

h2 {
    font-size:1.875rem;
    margin-bottom:25px;
    font-weight:bold;
}

h3 {
    font-size:1.5rem;
    margin-bottom:15px;
}

h4 {
    font-size:1.25rem;
    margin-bottom:10px;
}

.table {
    border-collapse:separate; 
    border-spacing:0 15px; 

    thead {
        background-color:$gray-100;
        border-radius:8px;
        border:0px;
        text-transform: uppercase;
        color:#9AA9BB;
        font-size:14px;

        th {
            border:0px;
            padding: 15px 20px 15px 40px;

            &:first-child {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }
            
            &:last-child {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        }
    }

    &.table-striped tbody tr {
        &:nth-of-type(odd), &:nth-of-type(even) {
            background-color:#FFF;
        } 
    }

    tbody {

        td {
            border-top:1px solid $gray-200;
            border-bottom:1px solid $gray-200;
            padding: 18px 20px 18px 40px;

            &:first-child {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                border-left:1px solid $gray-200;
            }
            
            &:last-child {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                border-right:1px solid $gray-200;
            }
        }
    }
}